<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>
    <div class="container">
        <table class="table mt-3">
            <thead class="p-4">
                <tr class="bg-secondary">
                    <th scope="col">PROBLEM NAME</th>
                    <th scope="col">User</th>
                    <th scope="col">VERDICT</th>
                    <th scope="col">LANGUAGE</th>
                    <th scope="col">TIME</th>
                </tr>
            </thead>
            <tbody>
                {% for submission in submissions %}
                {% if submission.verdict == "AC" %}
                <tr style="background-color: #4ce366e0;">
                    <th scope="row" class="text-capitalize">{{submission.Pname}}</th>
                    <td class="text-capitalize">{{submission.user}}</td>
                    <td class="text-capitalize">{{submission.verdict}}</td>
                    <td class="text-capitalize">{{submission.Language}}</td>
                    <td class="text-capitalize">{{submission.timestamp}}</td>
                </tr>
                {% elif submission.verdict == "WA"%}
                <tr style="background-color: #ff8463;">
                    <th scope="row" class="text-capitalize">{{submission.Pname}}</th>
                    <td class="text-capitalize">{{submission.user}}</td>
                    <td class="text-capitalize">{{submission.verdict}}</td>
                    <td class="text-capitalize">{{submission.Language}}</td>
                    <td class="text-capitalize">{{submission.timestamp}}</td>
                </tr>
                {% endif %}

                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

</html>